* {
  border: 0;
  padding: 0;
  margin: 0;
}

.theme-dark{
  --corDeFundo: hsl(235, 21%, 11%);
  --corDeTitulo: white;
  --corDeFundoContainer: hsl(235, 24%, 19%);
  --corDoTexto: hsl(234, 39%, 85%);
  --hover: hsl(236, 33%, 92%);
  --corDaBarra:hsl(234, 11%, 52%);
  --penultimo:hsl(233, 14%, 35%);
  --itemRiscado:hsl(237, 14%, 26%);
  --hoverItem: hsl(220, 24%, 19%);
  --sombra:  0px 10px 13px -7px #000000, 4px 38px 20px 12px rgba(0,0,0,0.32);
}

.theme-light{
  --corDeFundo: hsl(236, 33%, 92%);
  --corDeTitulo: white;
  --corDeFundoContainer:hsl(0, 0%, 98%);
  --corDoTexto: black;
  --hover: black;
  --corDaBarra:hsl(234, 11%, 52%);
  --penultimo:hsl(233, 14%, 35%);
  --itemRiscado:hsl(237, 14%, 26%);
  --hoverItem: hsl(233, 11%, 84%);
  --sombra:  0px 10px 13px -7px #000000, 4px 38px 20px 12px rgba(0,0,0,0.1);
}

#backgroundImage img {
  width: 100vw;
  z-index: -1;
  position: absolute;
  top: 0;
}

body {
  background-color: var(--corDeFundo);
  font-family: "Josefin Sans", monospace;
  font-size: 18px;
}

#containerPrincipal {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

#firstContainer {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  max-width: 550px;
  color: var(--corDeTitulo);
  letter-spacing: 13px;
  font-weight: 700;
  margin-bottom: 30px;
}

#firstContainer h1 {
  font-size: 46px;
}

#firstContainer img {
  width: 36px;
  height: 36px;
}

#secondContainer,
#thirdContainer {
  display: flex;
  width: 40vw;
  max-width: 550px;
  margin: 10px 0px 10px 0px;
}

.checklabel {
  height: 20px;
  width: 20px;
  display: block;
  border-radius: 100%;
  border: 1px solid var(--corDaBarra);
  margin-left: 20px;
  z-index: 0;
}

#secondContainer {
    background-color: var(--corDeFundoContainer);
    height: 68px;
    border-radius: 2%;
    justify-content: space-between;
    align-items: center;
}

#secondContainer .text{
    background-color: transparent;
    width: 88%;
    height: 100%;
}

input::placeholder {
    font-size: 18px;
}

#thirdContainer {
    background-color: var(--corDeFundoContainer);
    height: 88%;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid rgb(128, 128, 128); */
    box-shadow: var(--sombra)
}

.item {
    background-color: var(--corDeFundoContainer);
    height: 68px;
    border-radius: 2%;
    align-items: center;
    border-bottom: 1px solid var(--corDaBarra);
    display: flex;
    justify-content: space-between;
}

.item p {
    margin-left: 31px;
    color: var(--corDoTexto);
}

#ultimoItem {
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center;
    align-content: center;
    font-size: 14px;
    color: var(--corDoTexto);
}

#filterContainer {
    display: flex;
}

#ultimoItem p {
    padding: 0px 20px 0px 20px;
    color: var(--penultimo)
}

footer p {
    font-size: 12px;
    color:var(--corDoTexto);
    text-align: center;
    margin-top: 30px;
    opacity: 60%;
}

.itemCheckbox {
  display: flex;
}

.imagem {
  margin-right: 20px;
  visibility: hidden;
}
.item:hover .imagem{
  visibility: visible;
}

.item:hover{
  background-color: var(--hoverItem);
  color: var(--hover);
}

.finished p {
  text-decoration: line-through;
  text-decoration-color: var(--itemRiscado);
  color: var(--itemRiscado);
}

label.finished {
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
} 

.imagemOk{
  height: 10px;
  top: 6px;
  position: relative;
  left: 37px;
  z-index: 4;
  visibility: hidden;
}

#visible{
 visibility: visible;
} 

#clear:hover{
  color: var(--hover);
  /* font-size: 110%; */
}

